@import 'vars';
@import 'components/_text.scss';
@import 'components/_buttons.scss';
@import 'components/_fonts.scss';
@import 'components/select';
.fg {
    position: relative;
    label{
        font-weight: 600;
        font-size: 15px;
        line-height: 18px;
        display: block;
        margin-bottom: 10px;
        color: #271973;
    }
    textarea,
    input {
        padding: 0 15px;
        height: 50px;
        width: 100%;
        font-weight: 600;
        font-size: 16px;
        background: #FAFAFD;
        border: 2px solid #EAE8F6;
        border-radius: 7px;
        color: $black;
        font-family: $font1;
        &::placeholder {
            color: #BAB7CA;
            font-weight: 500;
        }
    }
    textarea{
        padding-top: 13px;
        padding-bottom: 13px;
        height: 110px;
        resize: none;
    }
}

.check {
    position: relative;
    input {
        position: absolute;
        opacity: 0;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        z-index: 2;
        cursor: pointer;
        &:checked+label {
            &::before {
                background-image: url(../img/check.svg), linear-gradient(180deg, #CEC8F4 0%, #E2DDFC 100%);
            }
        }
    }
    label {
        padding-left: 30px;
        position: relative;
        min-height: 20px;
        font-weight: 500;
        font-size: 14px;
        line-height: 143%;
        cursor: pointer;
        display: block;
        &:before {
            content: '';
            position: absolute;
            z-index: 1;
            background-image: linear-gradient(180deg, #CEC8F4 0%, #E2DDFC 100%);
            border-radius: 5px;
            background-repeat: no-repeat;
            background-position: center;
            width: 20px;
            height: 20px;
            left: 0;
            top: 0;
            transition: all .100s;
        }
    }
    a{
        position: relative;
        z-index: 4;
        color: $primary;
        border-bottom: 1px solid #BAB6CA;
    }
}

@media screen and (max-width: 992px){
    .fg{
        label{
            font-size: 14px;
        }
    }
}
